*{padding:0; margin:0;}
.my-navbar{
    background-color: black;
    width: 100%;
    height: 60px;
    position: fixed;
    line-height:30px;
    top: 0;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    display: grid;
    place-items: center;
    z-index: 2;
}
.menu-list{
    list-style: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu-items{
    padding: 10px;
}
.menu-items:hover{
    color: white;
    transform: scale(1.1);
    cursor: pointer;
    border-bottom: 1px solid rgb(238, 255, 0)
}
#menu-box{
    display:none;
}
@media (max-width:720px) {
    .my-navbar{
        display: none;
    }
    .menu-box{
        display: block;
    }
}



.menu-container {
    z-index: 2;
    background-color:	#000;
    width: 100%;
    height: 60px;
    top: 0;
    /* border-bottom: 1px solid white; */
    position: fixed;
    display: grid;
    place-content: center;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.menu-icon {
    cursor: pointer;
    font-size: 24px;
    padding: 5px;
    color: white;
}
.menu-icon:hover{
    transform: scale(1.1);
    border-bottom: 2px solid rgb(217, 255, 0);
}
.menu-box {
    display: none;
    width: 94%;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    left: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(10,6,77);
    background: linear-gradient(90deg, rgba(10,6,77,1) 0%, rgba(38,172,252,1) 100%);
    padding: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 8);
}
@media (min-width:720px) {
    .menu-container{
        display: none;
    }
    
}
.menu-item {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: rgb(0, 174, 255);
    color: black;
    border-radius: 10px;
}


.main-cover{
    /* margin-top: 70px; */
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1562813733-b31f71025d54?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8cHJvZ3JhbW1lcnxlbnwwfHwwfHx8MA%3D%3D);
}
.col{
    /* border: 1px solid black; */
    display: grid; 
    place-items: center;
    text-align: center;
    height: 500px;
}
#title-col{
    display: grid;
    place-content: center;
}

/*This is my name*/
#Name{
    color: #ffffff;
    font-weight: bold;
    font-family:"Satisfy",serif;
    font-size: 80px;
    margin-bottom: 30px;
    /* border: 1px solid black; */
}
.typewrite{
    text-decoration: none;
    /* color: black; */
    font-weight: 700;
    font-size: 30px;
    margin-left: 10px;
    color: rgb(235, 35, 35);
}
#title-txt{
    font-weight: 500;
    font-size: 30px;
    color: white;
}
/*This is the animated txt*/
#titles{
    display: flex;
    /* border: 1px solid black; */
}

@-webkit-keyframes rotation{
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.animated-svg{
    -webkit-animation: rotation 2s linear infinite;
    position: absolute;
    width: 500px;
    border-radius: 50%;
    /* border: 1px solid black; */
}
#blob-img{
   width: 500px;
}
@media (max-width:720px) {
    .animated-svg{
        width: 420px;
    }
    #blob-img{
        width: 420px;
    }
    #Name{
        font-size: 50px;
    }
    .typewrite{
        font-size: 25px;
    }
    #title-txt{
        font-size: 25px;
    }
}

#text-over-svg{
    z-index: 1;
}
.icon-list{
    display: flex;
    justify-content: center;
    width: 100%;
}
.icons{
  text-decoration: none;
  margin: 15px;
  padding: 5px;
  transform: scale(1.3);
}
.icons:hover{
    transform: scale(1.5);
    color: white;
    border-bottom: 2px solid blue;
    border-top: 2px solid blue;
}


